<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="main__page">
        <div class="heading">
            <h1>Welcome to the <span>GameCube Center</span></h1>
        </div>
        <p>Shop here for all your GameCube needs like controllers, games, accessories, and more. Find it all at Gamecube Center.</p>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <div class="main__card__image">
                        <a href="/products/<%= product._id %>">
                            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                        </a>
                    </div>
                    <!-- <div class="card__content">
                        <h2 class="product__price">$<%= product.price %></h2>
                    </div> -->
                    <!-- <div class="card__actions">
                        <a href="/products/<%= product._id %>" class="btn">Details</a>
                        <% if (isAuthenticated) { %>
                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                        <% } %>
                    </div> -->
                <% } %>
            </div>
            <% } else { %>
                <h1>No Products Found!</h1>
            <% } %>
        
    </main>
<%- include('../includes/end.ejs') %>